<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.httpqqrobot.mapper.UserMessageMapper">
    <cache eviction="LRU" flushInterval="100000" readOnly="true" size="1024"/>

<!--    <select id="getTodayUserSpeakRank" resultType="com.httpqqrobot.entity.UserMessage">-->
<!--        select qq_group                            as qqGroup,-->
<!--               qq_number                           as qqNumber,-->
<!--               qq_name                             as qqName,-->
<!--               SUBSTRING_INDEX(time_stamp, " ", 1) as date,-->
<!--               count(1)                            as sum-->
<!--        from speak_content-->
<!--        group by qq_group,-->
<!--                 qq_number,-->
<!--                 qq_name,-->
<!--                 SUBSTRING_INDEX(time_stamp, " ", 1)-->
<!--        having qq_group = #{qqGroup}-->
<!--           and date = #{date}-->
<!--        order by sum desc-->
<!--        limit 5-->
<!--    </select>-->

<!--    <select id="getTodayUserSpeakContent" resultType="String">-->
<!--        select content-->
<!--        from speak_content-->
<!--        where qq_group = #{qqGroup}-->
<!--          and SUBSTRING_INDEX(time_stamp, " ", 1) = #{date}-->
<!--    </select>-->

</mapper>

